{% load staticfiles %}

<html>
<head>

<meta charset=utf-8/>

<title>Agrosavia</title>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/js.cookie.min.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>

{% csrf_token %}

<style type="text/css">
button:focus {
	outline: none;
}
</style>

</head>

<body>

<div style="background-color: #8cd07b; width: 100%;line-height: 55px;left: 0;top:0;position: fixed;z-index: 1;" id="main">

	<img src="{% static 'img/logo.png' %}" style="display: block;margin-left: auto;margin-right: auto;width: auto;height: 70px;">

	<a href="/exportarDatosExcel.xlsx">
	<img id="guardardatos" src="{% static 'img/save_icon.png' %}" style="height: 46px;width: 46px;float: left;position: absolute;display: inline;bottom: 14px;left: 10px">
	</a>

</div>


<div style="background-color:#dbffd2; height: auto; width: 96%;position: relative;display: inline-block;padding: 15px;margin-top: 75px; margin-left: 1%;text-align: center">

	<label style="font-family: Helvetica; font-size: 30px; font-weight: 100;display: inline-block;margin-bottom: 12px">Estado de conexión del servidor</label>

	<br>

	<div style="text-align: left">

		<label style="font-family: Helvetica; font-size: 25px; font-weight: 100;display: inline-block;margin-bottom: 10px;margin-right: 20px">Acelerómetro vaca1: </label>
		<label id="estadoAccel1" style="font-family: Helvetica; font-size: 25px; font-weight: 100;display: inline-block;margin-bottom: 10px;color: #ef2929">Desconectado</label>

		<label id="estadoServer" style="font-family: Helvetica; float: right; font-size: 25px; font-weight: 100;margin-bottom: 10px;color:#ef2929">Desconectado</label>
		<label style="font-family: Helvetica; float: right; font-size: 25px; font-weight: 100;margin-right: 20px;">Servidor: </label>

		<br>

		<label style="font-family: Helvetica; font-size: 25px; font-weight: 100;display: inline-block;margin-bottom: 10px;margin-right: 20px">Acelerómetro vaca2: </label>
		<label id="estadoAccel2" style="font-family: Helvetica; font-size: 25px; font-weight: 100;display: inline-block;margin-bottom: 10px;color: #ef2929">Desconectado</label>

		<br>

		<label style="font-family: Helvetica; font-size: 25px; font-weight: 100;display: inline-block;margin-bottom: 10px;margin-right: 20px">Acelerómetro vaca3: </label>
		<label id="estadoAccel3" style="font-family: Helvetica; font-size: 25px; font-weight: 100;display: inline-block;color: #ef2929">Desconectado</label>

	</div>

</div>


<div style="margin-top: 12px; margin-bottom: 10px; margin-left: 0.2%;padding-left: 2%;padding-right: 2%">


	<div style="background-color:#dbffd2; height: auto; width: 30%;text-align: center;position: relative;display: inline-block;">

		<div style="top: -50px;left: 0;bottom: 0;right: 0;margin-top: 30px;margin-bottom: 130px;position: relative;;height: 200px;">
			<label style="font-family: Helvetica; font-size: 30px;margin-top: 8%;display: inline-block;%">Estado de la vaca 1</label>

			<a href="/1">
			<img id="imagen" src="{% static 'img/' %}{{Imagen}}" style="width: 50%;height: auto;margin:auto;"><br>
			</a>

			<label id="texto" style="font-family: Helvetica; font-size: 40px;display: inline-block;%">{{Actividad}}</label>

			<label>________________________________________________</label>
		</div>

		<div style="top: -50px;left: 0;bottom: 0;right: 00;margin-top: 30px;margin-bottom: 130px;position: relative;height: 200px;">
			<label style="font-family: Helvetica; font-size: 30px;margin-top: 5%;display: inline-block;%">Estado de la vaca 2</label>

			<a href="/2">
			<img id="imagen2" src="{% static 'img/' %}{{Imagen2}}" style="width: 50%;height: auto;margin:auto;"><br>
			</a>

			<label id="texto2" style="font-family: Helvetica; font-size: 40px;display: inline-block;%">{{Actividad2}}</label>

			<label>________________________________________________</label>
		</div>

		<div style="top: -50px;left: 0;bottom: 0;right: 00;margin-top: 30px;margin-bottom: 50px;position: relative;height: 200px;">
			<label style="font-family: Helvetica; font-size: 30px;margin-top: 5%;display: inline-block;%">Estado de la vaca 3</label>

			<a href="/3">
			<img id="imagen3" src="{% static 'img/' %}{{Imagen3}}" style="width: 50%;height: auto;margin:auto;"><br>
			</a>

			<label id="texto3" style="font-family: Helvetica; font-size: 40px;display: inline-block;%">{{Actividad3}}</label>
		</div>

	</div>


	<div style="float: right;width: 65%;">

		<div class="chart-container_1" style="background-color:#dbffd2; height: 44vh; width: 100%;position: relative;display: inline-block;float:right;padding: 20px;padding-top: 10px">
			<canvas id="chart_1" ></canvas>
			<label>_________________________________________________________________________________________________________</label>
		</div>

		<div class="chart-container_2" style="background-color:#dbffd2; height: 46vh; width: 100%;position: relative;display: inline-block;float:right;padding: 20px;padding-top: 10px">
			<canvas id="chart_2" ></canvas>
			<label>_________________________________________________________________________________________________________</label>
		</div>

		<div class="chart-container_3" style="background-color:#dbffd2; height: 46vh; width: 100%;position: relative;display: inline-block;float:right;padding: 20px;padding-top: 10px">
			<canvas id="chart_3" ></canvas>
		</div>

	</div>


</div>


</body>



<script type="text/javascript">

error = false
var refresco = false

function actualizarDatos()
{
	$.ajax('/actualizarServer', {method: 'post',data: ({'csrfmiddlewaretoken':Cookies.get('csrftoken')}), success: function(transport){
		respuesta = JSON.parse(transport)

		$("#imagen").attr("src", "{% static 'img/' %}"+respuesta['imagen'])
		$("#texto").html(respuesta['texto'])

		$("#imagen2").attr("src", "{% static 'img/' %}"+respuesta['imagen2'])
		$("#texto2").html(respuesta['texto2'])

		$("#imagen3").attr("src", "{% static 'img/' %}"+respuesta['imagen3'])
		$("#texto3").html(respuesta['texto3'])

		if(error)
		{
			myChart_1.data.datasets[0].data=[];
			myChart_1.data.datasets[1].data=[];
			myChart_1.data.datasets[2].data=[];
			myChart_1.data.datasets[3].data=[];
			myChart_1.data.datasets[4].data=[];
			myChart_1.data.datasets[5].data=[];
			myChart_2.data.datasets[0].data=[];
			myChart_2.data.datasets[1].data=[];
			myChart_2.data.datasets[2].data=[];
			myChart_2.data.datasets[3].data=[];
			myChart_2.data.datasets[4].data=[];
			myChart_2.data.datasets[5].data=[];
			myChart_3.data.datasets[0].data=[];
			myChart_3.data.datasets[1].data=[];
			myChart_3.data.datasets[2].data=[];
			myChart_3.data.datasets[3].data=[];
			myChart_3.data.datasets[4].data=[];
			myChart_3.data.datasets[5].data=[];
			error = false
		}

		if (respuesta['Acc_x'] != null)
		{
			addData(myChart_1, respuesta['tiempo'], respuesta['Acc_x'], 0)
			addData(myChart_1, respuesta['tiempo'], respuesta['Acc_y'], 1)
			addData(myChart_1, respuesta['tiempo'], respuesta['Acc_z'], 2)
			addData(myChart_1, respuesta['tiempo'], respuesta['Gyro_x'], 3)
			addData(myChart_1, respuesta['tiempo'], respuesta['Gyro_y'], 4)
			addData(myChart_1, respuesta['tiempo'], respuesta['Gyro_z'], 5)
		}

		if (respuesta['Acc_x2'] != null)
		{
			addData(myChart_2, respuesta['tiempo2'], respuesta['Acc_x2'], 0)
			addData(myChart_2, respuesta['tiempo2'], respuesta['Acc_y2'], 1)
			addData(myChart_2, respuesta['tiempo2'], respuesta['Acc_z2'], 2)
			addData(myChart_2, respuesta['tiempo2'], respuesta['Gyro_x2'], 3)
			addData(myChart_2, respuesta['tiempo2'], respuesta['Gyro_y2'], 4)
			addData(myChart_2, respuesta['tiempo2'], respuesta['Gyro_z2'], 5)
		}

		if (respuesta['Acc_x3'] != null)
		{
			addData(myChart_3, respuesta['tiempo3'], respuesta['Acc_x3'], 0)
			addData(myChart_3, respuesta['tiempo3'], respuesta['Acc_y3'], 1)
			addData(myChart_3, respuesta['tiempo3'], respuesta['Acc_z3'], 2)
			addData(myChart_3, respuesta['tiempo3'], respuesta['Gyro_x3'], 3)
			addData(myChart_3, respuesta['tiempo3'], respuesta['Gyro_y3'], 4)
			addData(myChart_3, respuesta['tiempo3'], respuesta['Gyro_z3'], 5)
		}

		$("#estadoServer").html("Conectado")
		$("#estadoServer").css({'color':'#50a95c'})

		refresco = respuesta['estadoAccel1']

		if (respuesta['estadoAccel1'])
		{
			$("#estadoAccel1").html("Conectado")
			$("#estadoAccel1").css({'color':'#50a95c'})
		}
		else
		{
			$("#estadoAccel1").html("Desconectado")
			$("#estadoAccel1").css({'color':'#ef2929'})
		}

		if (respuesta['estadoAccel2'])
		{
			$("#estadoAccel2").html("Conectado")
			$("#estadoAccel2").css({'color':'#50a95c'})
		}
		else
		{
			$("#estadoAccel2").html("Desconectado")
			$("#estadoAccel2").css({'color':'#ef2929'})
		}

		if (respuesta['estadoAccel3'])
		{
			$("#estadoAccel3").html("Conectado")
			$("#estadoAccel3").css({'color':'#50a95c'})
		}
		else
		{
			$("#estadoAccel3").html("Desconectado")
			$("#estadoAccel3").css({'color':'#ef2929'})
		}

	},
	error: function(){
		$("#estadoAccel1").html("Desconectado")
		$("#estadoAccel1").css({'color':'#ef2929'})
		$("#estadoAccel2").html("Desconectado")
		$("#estadoAccel2").css({'color':'#ef2929'})
		$("#estadoAccel3").html("Desconectado")
		$("#estadoAccel3").css({'color':'#ef2929'})
		$("#estadoServer").html("Desconectado")
		$("#estadoServer").css({'color':'#ef2929'})
		error = true
	}


});
}

if (!error)
{
	setInterval(actualizarDatos, 70)
}

var ctx1 = document.getElementById("chart_1").getContext('2d');

var ctx2 = document.getElementById("chart_2").getContext('2d');

var ctx3 = document.getElementById("chart_3").getContext('2d');

myChart_1 = new Chart(ctx1, {
	type: 'line',
	data: {
		datasets: [{
			data: [],
			label: "Eje X",
			borderColor: "#cd3e3e",
			fill: false
		},
		{
			data: [],
			label: "Eje Y",
			borderColor: "#63a84f",
			fill: false
		},
		{
			data: [],
			label: "Eje Z",
			borderColor: "#ffaf38",
			fill: false
		},
		{
			data: [],
			label: "Gyro X",
			borderColor: "#2EFEF7",
			fill: false
		},
		{
			data: [],
			label: "Gyro Y",
			borderColor: "#FE2EF7",
			fill: false
		},
		{
			data: [],
			label: "Gyro Z",
			borderColor: "#190707",
			fill: false
		}
		]},
		options: {
			events: [],
			maintainAspectRatio: false,
			legend: {
				display: true,
			},
			title: {
				display: true,
				text: 'Datos acelerometro y giroscopio vaca 1'
			},
			scales: {
				yAxes: [{
					scaleLabel: {
						display: true,
						labelString: 'Aceleración y Giroscopio'
					}
				}],
				xAxes: [{
					type: 'linear',
					ticks: {
						display: true,
						maxRotation: 0,
						minRotation: 0
					}
				}]
			}
		}
	});


myChart_2 = new Chart(ctx2, {
	type: 'line',
	data: {
		datasets: [{
			data: [],
			label: "Eje X",
			borderColor: "#4B088A",
			fill: false
		},
		{
			data: [],
			label: "Eje Y",
			borderColor: "#FF8000",
			fill: false
		},
		{
			data: [],
			label: "Eje Z",
			borderColor: "#00FFFF",
			fill: false
		},
		{
			data: [],
			label: "Gyro X",
			borderColor: "#0101DF",
			fill: false
		},
		{
			data: [],
			label: "Gyro Y",
			borderColor: "#40FF00",
			fill: false
		},
		{
			data: [],
			label: "Gyro Z",
			borderColor: "#F78181",
			fill: false
		}
		]},
		options: {
			events: [],
			maintainAspectRatio: false,
			legend: {
				display: true,
			},
			title: {
				display: true,
				text: 'Datos acelerometro y giroscopio vaca 2'
			},
			scales: {
				yAxes: [{
					scaleLabel: {
						display: true,
						labelString: 'Aceleración y Giroscopio'
					}
				}],
				xAxes: [{
					type: 'linear',
					ticks: {
						display: true,
						maxRotation: 0,
						minRotation: 0
					}
				}]
			}
		}
	});

myChart_3 = new Chart(ctx3, {
	type: 'line',
	data: {
		datasets: [{
			data: [],
			label: "Eje X",
			borderColor: "#DF013A",
			fill: false
		},
		{
			data: [],
			label: "Eje Y",
			borderColor: "#FFFF00",
			fill: false
		},
		{
			data: [],
			label: "Eje Z",
			borderColor: "#0000FF",
			fill: false
		},
		{
			data: [],
			label: "Gyro X",
			borderColor: "#AEB404",
			fill: false
		},
		{
			data: [],
			label: "Gyro Y",
			borderColor: "#000000",
			fill: false
		},
		{
			data: [],
			label: "Gyro Z",
			borderColor: "#A9F5E1",
			fill: false
		}
		]},
		options: {
			events: [],
			maintainAspectRatio: false,
			legend: {
				display: true,
			},
			title: {
				display: true,
				text: 'Datos acelerometro y giroscopio vaca 2'
			},
			scales: {
				yAxes: [{
					scaleLabel: {
						display: true,
						labelString: 'Aceleración y Giroscopio'
					}
				}],
				xAxes: [{
					type: 'linear',
					ticks: {
						display: true,
						maxRotation: 0,
						minRotation: 0
					}
				}]
			}
		}
	});


function addData(chart, label, data, dataset)
{

	if (chart.data.datasets[dataset].data.length < 100)
	{
		chart.data.datasets[dataset].data.push({x:label,y:data});
	}
	else
	{
		chart.data.datasets[dataset].data.shift()

		chart.data.datasets[dataset].data.push({x:label,y:data});
	}

	xdata = []
	for (i=0; i<chart.data.datasets[dataset].data.length; i++)
	{
		xdata.push(chart.data.datasets[dataset].data[i].x)
	}

	min = Math.min.apply(Math,xdata)
	max = Math.max.apply(Math,xdata)

	chart.config.options.scales.xAxes[0].ticks.min = min
	chart.config.options.scales.xAxes[0].ticks.max = max

	chart.update(0);
}

</script>


</html>
